<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>org.aur3l14no.alfred-ticktick</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>4C0173AF-8725-474D-9599-65674DBB154D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E996C82F-DEE2-4B56-932D-9348365033DA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A3BA2CB0-7277-4AD2-8BC9-3DBFDCB31C33</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B9C51E83-09BA-4E50-B9D5-59F7C9A7DF82</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E996C82F-DEE2-4B56-932D-9348365033DA</key>
		<array/>
		<key>ED61B0B7-58AB-478C-8916-53D9A9A0B6EC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A3BA2CB0-7277-4AD2-8BC9-3DBFDCB31C33</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Aur3l14no</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>TickTick</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>t</string>
				<key>subtext</key>
				<string>0m30s / 0.5m / 30</string>
				<key>text</key>
				<string>Add countdown timer in TickTick</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>4C0173AF-8725-474D-9599-65674DBB154D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/bin/python3 main.py $@
# 2&gt;&amp;1 &gt;/dev/null</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E996C82F-DEE2-4B56-932D-9348365033DA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>dump ticktick</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Dump alfred-tick-tick env into clipboard</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>ED61B0B7-58AB-478C-8916-53D9A9A0B6EC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>echo "TICKTICK_CLIENT_ID=${TICKTICK_CLIENT_ID}"
echo "TICKTICK_CLIENT_SECRET=${TICKTICK_CLIENT_SECRET}"
echo "TICKTICK_USERNAME=${TICKTICK_USERNAME}"
echo "TICKTICK_PASSWORD=${TICKTICK_PASSWORD}"
echo "TICKTICK_REDIRECT_URL=${TICKTICK_REDIRECT_URL}"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A3BA2CB0-7277-4AD2-8BC9-3DBFDCB31C33</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>B9C51E83-09BA-4E50-B9D5-59F7C9A7DF82</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>### Installation

1. In alfred, run `dump ticktick`
2. Paste into `${workflow_folder}.env`
3. In `workflow_folder`, run `python main.py` to auth

### Usage

`t 1m30s`</string>
	<key>uidata</key>
	<dict>
		<key>4C0173AF-8725-474D-9599-65674DBB154D</key>
		<dict>
			<key>xpos</key>
			<integer>385</integer>
			<key>ypos</key>
			<integer>195</integer>
		</dict>
		<key>A3BA2CB0-7277-4AD2-8BC9-3DBFDCB31C33</key>
		<dict>
			<key>xpos</key>
			<integer>580</integer>
			<key>ypos</key>
			<integer>395</integer>
		</dict>
		<key>B9C51E83-09BA-4E50-B9D5-59F7C9A7DF82</key>
		<dict>
			<key>xpos</key>
			<integer>790</integer>
			<key>ypos</key>
			<integer>395</integer>
		</dict>
		<key>E996C82F-DEE2-4B56-932D-9348365033DA</key>
		<dict>
			<key>xpos</key>
			<integer>660</integer>
			<key>ypos</key>
			<integer>195</integer>
		</dict>
		<key>ED61B0B7-58AB-478C-8916-53D9A9A0B6EC</key>
		<dict>
			<key>xpos</key>
			<integer>355</integer>
			<key>ypos</key>
			<integer>395</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>TICKTICK_CLIENT_ID</key>
		<string>mx8pUf00WfCS0WNp3a</string>
		<key>TICKTICK_CLIENT_SECRET</key>
		<string>&amp;Ty_h%ol1v(Zy7$7NR6#7EFmh%5KQYUd</string>
		<key>TICKTICK_PASSWORD</key>
		<string>mY2432tt</string>
		<key>TICKTICK_REDIRECT_URL</key>
		<string>http://127.0.0.1:8080</string>
		<key>TICKTICK_USERNAME</key>
		<string>muzhi.yu1@gmail.com</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>TICKTICK_CLIENT_ID</string>
		<string>TICKTICK_USERNAME</string>
		<string>TICKTICK_CLIENT_SECRET</string>
		<string>TICKTICK_PASSWORD</string>
	</array>
	<key>version</key>
	<string>0.1.0</string>
	<key>webaddress</key>
	<string>https://github.com/aur3l14no/alfred-workflows</string>
</dict>
</plist>
